<div class="header">
  <i class="material-icons">panorama_fish_eye</i>
  <p>Merkury</p>
</div>
<div class="navbar-list">
  <div class="navbar-link">
    <i class="material-icons">home</i>
    <p>Home</p>
  </div>
  <div class="navbar-link">
    <i class="material-icons">view_agenda</i>
    <p>Workflow</p>
  </div>
  <div class="navbar-link">
    <i class="material-icons">show_chart</i>
    <p>Statistics</p>
  </div>
  <div class="navbar-link">
    <i class="material-icons">date_range</i>
    <p>Calendar</p>
  </div>
  <div class="navbar-link">
    <i class="material-icons">perm_identity</i>
    <p>Users</p>
  </div>
  <div class="navbar-link">
    <i class="material-icons">settings</i>
    <p>Settings</p>
  </div>
</div>
