<div class="left-buttons">
  <button class="menuBtn" (click)="toggleNavbar()">
    <i class="material-icons arrow" *ngIf="navbarOpen">keyboard_arrow_right</i>
    <i class="material-icons arrow" *ngIf="!navbarOpen">keyboard_arrow_left</i>
    <i class="material-icons">menu</i></button>
  <button class="searchBtn"><i class="material-icons">search</i></button>
</div>
<div class="right-buttons">
  <button class="addBtn">
    <p>+  Add project</p>
  </button>
  <button class="messagesBtn"><i class="material-icons">email</i></button>
  <button class="notificationsBtn"><i class="material-icons">notifications</i></button>
  <button class="accountBtn">
    <img src="http://www.dagospia.com/img/foto/05-2016/donald-trump-facce-793719.jpg" alt="" class="accountImg">
    <i class="material-icons">arrow_drop_down</i>
  </button>
</div>
